@import "./theme.scss";

html, body {
  margin: 0;
}

.font9x18 {
  font-family: font9x18;
}
.font6x12 {
  font-family: font6x12;
}
.font10x20 {
  font-family: font10x20;
}
.font5x7 {
  font-family: font5x7;
}
.font6x13O {
  font-family: font6x13O;
}
.font4x6 {
  font-family: font4x6;
}
.font5x8 {
  font-family: font5x8;
}
.font6x10 {
  font-family: font6x10;
}
